{"swagger":"2.0","info":{"description":"Set API REST PagoPA","version":"4.44.0","title":"API Gateway Pagamenti","termsOfService":"https://www.maggioli.it","contact":{"name":"Maggioli SPA","url":"https://www.maggioli.it","email":"pagamenti.produzione@maggioli.it"},"license":{"name":"Commercial","url":"https://www.maggioli.it"}},"host":"pagopa.maggioli.cloud","basePath":"/jcitygov-pagopa/api/","tags":[{"name":"Attualizzazione","description":"Servizi di gestione dell'attualizzazione debito"},{"name":"Autenticazione","description":"Servizi di autenticazione"},{"name":"Avvisi pagamento","description":"Servizi di gestione e informazione degli avvisi di pagamento"},{"name":"Estratto conto","description":"Servizi di informazione dell'estratto conto"},{"name":"Flussi Agid","description":"Servizi di informazione dei flussi AGID"},{"name":"Flussi Agid V2","description":"Servizi di informazione dei flussi AGID"},{"name":"Notifiche","description":"Servizi di notifiche"},{"name":"Pagamenti","description":"Servizi di informazione dei pagamenti"},{"name":"Pos","description":"Servizi di gestione e informazione dei pos"},{"name":"Riconciliazione","description":"Servizi di informazione della riconciliazione"}],"paths":{"/rest/dovuti/v1/attiva":{"patch":{"tags":["Avvisi pagamento"],"summary":"Necessario ad attivare la posizione multi beneficiario in caso sia stata disabilitata o creata in tale stato","description":"In questo caso non c’è differenza tra multibeneficiario e monobeneficiario, se per un dato Numero Avviso viene trovato un debito multibeneficiario, verranno attivate entrambe le parti. \nE’ possibile passare una lista di elementi. Il metodo permette anche la disattivazione delle posizioni. \nNon è prassi comune disattivare una posizione esistente e già attiva, ma se necessario è possibile disattivarla chiamando lo stesso metodo con l’aggiunta del parametro relativo, ma solo se non ci sono pagamenti associati e il connettore di riferimento è Maggioli o Payer. In tutti gli altri casi la disattivazione non è concessa","operationId":"patchAttivaUsingPATCH","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaAttivaDovutiDto","description":"richiestaAttivaDovutiDto","required":true,"schema":{"$ref":"#/definitions/RichiestaAttivaDovutiDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaAttivaAvvisiPagamentoDto"}},"204":{"description":"No Content"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"jwtToken":[]}],"deprecated":true}},"/rest/flussiAgid/v1/scarica":{"post":{"tags":["Flussi Agid"],"summary":"Servizio che permette di scaricare i flussi AGID secondo i parametri in input","description":"I campi vengono filtrati per priorità, quindi l’identificativo del flusso è il primo su cui viene filtrato, mettendo le date vengono interpolate per recuperare la lista dei flussi che soddisfano il filtro","operationId":"postScaricaUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"filterFlussiAgid","description":"filterFlussiAgid","required":true,"schema":{"$ref":"#/definitions/RichiestaScaricaFlussiAgidDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaScaricaFlussiAgidDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}],"deprecated":true}},"/rest/flussiDiRendicontazione/v1/info":{"post":{"tags":["Flussi Agid"],"summary":"Servizio che restituisce una lista di Flussi di Rendicontazione nell’intervallo di date indicate.","description":"Sono state predisposte delle operazioni per indicare se le date indicano Regolamento o Inserimento","operationId":"postInfoUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInfoListaFlussiRendicontazioneDto","description":"richiestaInfoListaFlussiRendicontazioneDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoListaFlussiRendicontazioneDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoListaFlussiRendicontazioneDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/avvisiPagamento/v1/attivaPerIdLotto":{"patch":{"tags":["Avvisi pagamento"],"summary":"Permette l'attivazione di un avviso di pagamento attraverso l'id lotto","operationId":"postAttivaPerIdLottoUsingPATCH","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"attivaAvvisiPagamentoDto","description":"attivaAvvisiPagamentoDto","required":true,"schema":{"$ref":"#/definitions/RichiestaAttivaAvvisiPagamentoPerIdLottoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaAttivaAvvisiPagamentoPerIdLottoDto"}},"204":{"description":"No Content"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"jwtToken":[]}]}},"/rest/notifiche/pagamenti":{"post":{"tags":["Notifiche"],"summary":"Import di ricevute telematiche EVO","operationId":"postPagamentiEVOUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/NotificaInfoPagamentoDovutoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NotificaResponse"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}}},"security":[{"jwtToken":[]}]}},"/rest/dovuti/v2/attiva":{"patch":{"tags":["Avvisi pagamento"],"summary":"Necessario ad attivare la posizione multi beneficiario in caso sia stata creata disabilitata","description":"In questo caso non c’è differenza tra multibeneficiario e monobeneficiario, se per un dato Numero Avviso viene trovato un debito multibeneficiario, verranno attivate entrambe le parti. \nE’ possibile passare una lista di elementi. Il metodo NON permette la disattivazione delle posizioni.","operationId":"patchAttivaV2UsingPATCH","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaAttivaDovutiDto","description":"richiestaAttivaDovutiDto","required":true,"schema":{"$ref":"#/definitions/RichiestaAttivaDovutiV2Dto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaAttivaAvvisiPagamentoDto"}},"204":{"description":"No Content"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"jwtToken":[]}]}},"/rest/riconciliazione/v1/infoRiconciliazione":{"post":{"tags":["Riconciliazione"],"summary":"Restituisce l’elenco dei pagamenti riconciliati","description":"Il metodo prevede due possibili input: flusso di rendicontazione (\"operazione\": \"PER_IDENTIFICATIVO_FLUSSO\") oppure il sospeso relativo (\"operazione\": \"PER_SOSPESI\"). Il risultato è il medesimo, cambia solo l’input di partenza","operationId":"postInfoRiconciliazioneUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInfoRiconciliazioneDto","description":"richiestaInfoRiconciliazioneDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoRiconciliazioneDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoRiconciliazioneDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}}},"security":[{"jwtToken":[]}]}},"/rest/flussiAgid/v2/scarica":{"post":{"tags":["Flussi Agid V2"],"summary":"Servizio che permette di scaricare i flussi AGID secondo i parametri in input","description":"I campi vengono filtrati per priorità, quindi l’identificativo del flusso è il primo su cui viene filtrato, mettendo le date vengono interpolate per recuperare la lista dei flussi che soddisfano il filtro","operationId":"postScaricaUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"filterFlussiAgid","description":"filterFlussiAgid","required":true,"schema":{"$ref":"#/definitions/RichiestaScaricaFlussiAgidV2Dto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaScaricaFlussiAgidDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/dovuti/v1/modifica":{"patch":{"tags":["Avvisi pagamento"],"summary":"Si occupa di aggiornare le posizioni legate all’avviso multi beneficiario","description":"Sono state predisposte delle operazioni per dividere le modifiche che vogliono essere apportate. \nNon permette di modificare Dovuti che sono stati pagati","operationId":"patchModificaUsingPATCH","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaModificaDovutiDto","description":"richiestaModificaDovutiDto","required":true,"schema":{"$ref":"#/definitions/RichiestaModificaDovutiDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaModificaDovutiDto"}},"204":{"description":"No Content"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"jwtToken":[]}]}},"/rest/avvisiPagamento/v1/infoPerChiaveDebito":{"post":{"tags":["Avvisi pagamento"],"summary":"Servizio che restituisce il dettaglio del debito tramite la chiave del debito","operationId":"postInfoPerChiaveDebitoUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"infoAvvisiPagamentoPerChiaveDebito","description":"infoAvvisiPagamentoPerChiaveDebito","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoAvvisoPagamentoPerChiaveDebitoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoAvvisoPagamentoPerChiaveDebitoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}}},"security":[{"jwtToken":[]}]}},"/rest/attualizzazione/v1/notification-price":{"get":{"tags":["Attualizzazione"],"summary":"Restituisce le spese notifica del debito specificato","operationId":"getNotificationPriceUsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"cfEnteCreditore","in":"query","description":"cfEnteCreditore","required":true,"type":"string"},{"name":"importoPosizione","in":"query","description":"importoPosizione","required":true,"type":"string","enum":["N","S"]},{"name":"numeroAvviso","in":"query","description":"numeroAvviso","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaSpeseNotificaDto"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/APIAttualizzazioneErrorResponse"}},"401":{"description":"Error","schema":{"$ref":"#/definitions/APIAttualizzazioneErrorResponse"}},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Error","schema":{"$ref":"#/definitions/APIAttualizzazioneErrorResponse"}}},"security":[{"jwtToken":[]}]},"post":{"tags":["Attualizzazione"],"summary":"Restituisce le spese notifica del debito specificato","operationId":"notificationPriceUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiediSpeseNotificaDto","description":"richiediSpeseNotificaDto","required":true,"schema":{"$ref":"#/definitions/RichiediSpeseNotificaDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaSpeseNotificaDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/APIAttualizzazioneErrorResponse"}},"401":{"description":"Error","schema":{"$ref":"#/definitions/APIAttualizzazioneErrorResponse"}},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Error","schema":{"$ref":"#/definitions/APIAttualizzazioneErrorResponse"}}},"security":[{"jwtToken":[]}]}},"/rest/pos/v1/infoListaTerminali":{"post":{"tags":["Pos"],"summary":"Servizio che restituisce l'elenco dei terminali POS censiti per un dato ente","operationId":"postInfoPerIdPosUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaListaTerminaliPOSDto","description":"richiestaListaTerminaliPOSDto","required":true,"schema":{"$ref":"#/definitions/RichiestaListaTerminaliPOSDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaListaTerminaliPOSDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}}},"security":[{"jwtToken":[]}]}},"/rest/pagamenti/v2/infoPerDovuto":{"post":{"tags":["Pagamenti"],"summary":"Nuovo metodo pensato per essere il successore di infoPerDebito nel caso delle nuove SANP","description":"Ritorna anche il testo della nuova RT (se presente), sia per i debiti monobeneficiario che per i multibeneficiario. Inoltre nel caso ci siano associati dei pagamenti multibeneficiario, c’è un tag aggiuntivo che li descrive e i relativi pagamenti telematici \nNel caso di pagamento mod3 ci sarà inoltre la Receipt originale + una RT generata dalla Receipt. Nel caso di pagamento mod1 ci sarà la RT originale e Receipt vuota.","operationId":"postInfoPerDovutoV2UsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInfoPagamentoDovutoDto","description":"richiestaInfoPagamentoDovutoDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoPagamentoDovutoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoPagamentoDovutoDtoV2"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/avvisiPagamento/v1/infoPerNumeroAvviso":{"post":{"tags":["Avvisi pagamento"],"summary":"Servizio che restituisce il dettaglio del debito tramite il numero avviso","operationId":"postInfoPerNumeroAvvisoV1UsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"infoAvvisiPagamentoPerNumeroAvviso","description":"infoAvvisiPagamentoPerNumeroAvviso","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoAvvisoPagamentoPerNumeroAvvisoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoAvvisoPagamentoPerNumeroAvvisoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}],"deprecated":true}},"/rest/pagamenti/v2/infoPerTransazione":{"post":{"tags":["Pagamenti"],"summary":"Servizio che restituisce il dettaglio del pagamento se è stato pagato utilizzando l’idTransazione del pagamento come input","operationId":"postInfoPerTransazioneV2UsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInfoPagamentoTransazioneDto","description":"richiestaInfoPagamentoTransazioneDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoPagamentoTransazioneDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoPagamentoTransazioneDtoV2"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/estrattoConto/v2/ricerca":{"post":{"tags":["Estratto conto"],"summary":"Restituisce i debiti filtrati dai parametri passati in input","operationId":"getEstrattoContoUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"filtriRicercaEstrattoConto","description":"filtriRicercaEstrattoConto","required":true,"schema":{"$ref":"#/definitions/EstrattoContoInputRequestFilterV2Dto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EstrattoContoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/dovuti/v1/cancella":{"post":{"tags":["Avvisi pagamento"],"summary":"Necessario ad eliminare la posizione multi beneficiario, in opposizione all’attuale CancellaPosizionePagamento","description":"In questo caso non c’è differenza tra multibeneficiario e monobeneficiario, se per un dato Numero Avviso viene trovato un debito multibeneficiario, verranno eliminate entrambe le parti.","operationId":"postCancellaUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaCancellaDovutiDto","description":"richiestaCancellaDovutiDto","required":true,"schema":{"$ref":"#/definitions/RichiestaCancellaDovutiDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaEliminaAvvisoPagamentoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]},"delete":{"tags":["Avvisi pagamento"],"summary":"Necessario ad eliminare la posizione multi beneficiario, in opposizione all’attuale CancellaPosizionePagamento","description":"In questo caso non c’è differenza tra multibeneficiario e monobeneficiario, se per un dato Numero Avviso viene trovato un debito multibeneficiario, verranno eliminate entrambe le parti.","operationId":"deleteCancellaUsingDELETE","produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaCancellaDovutiDto","description":"richiestaCancellaDovutiDto","required":true,"schema":{"$ref":"#/definitions/RichiestaCancellaDovutiDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaEliminaAvvisoPagamentoDto"}},"204":{"description":"No Content"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"jwtToken":[]}]}},"/rest/debiti/v1/modificaDettagliImporto":{"patch":{"tags":["Avvisi pagamento"],"summary":"Permette di modificare i dettagli amministrativi del debito","operationId":"patchModificaDettagliImportoUsingPATCH","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaModificaDettagliImportoDto","description":"richiestaModificaDettagliImportoDto","required":true,"schema":{"$ref":"#/definitions/RichiestaModificaDettagliImportoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaModificaDettagliImportoDto"}},"204":{"description":"No Content"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"jwtToken":[]}]}},"/rest/avvisiPagamento/v1/infoPerIdPos":{"post":{"tags":["Avvisi pagamento"],"summary":"Servizio che restituisce il dettaglio del debito tramite chiave debito ridotta","operationId":"postInfoPerIdPosUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInfoAvvisoPagamentoPerIdPosDto","description":"richiestaInfoAvvisoPagamentoPerIdPosDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoAvvisoPagamentoPerIdPosDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoAvvisoPagamentoPerIdPosDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/login":{"post":{"tags":["Autenticazione"],"summary":"Permette l'autenticazione","description":"Genera un token di autenticazione, inserirlo nell'Authorize preceduto da \"Bearer \"","operationId":"loginUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/JppaLoginRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JppaLoginResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/rest/debiti/v1/modificaAnnoCompetenza":{"patch":{"tags":["Avvisi pagamento"],"summary":"Permette di modificare l'anno di competenza per TUTTI i dettagli del debito (anche per debiti già pagati). Serve per aggiornare in particolare i dati contabili","operationId":"patchModificaAnnoCompetenzaUsingPATCH","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaModificaAnnoCompetenzaDto","description":"richiestaModificaAnnoCompetenzaDto","required":true,"schema":{"$ref":"#/definitions/RichiestaModificaAnnoCompetenzaDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaModificaAnnoCompetenzaDto"}},"204":{"description":"No Content"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"jwtToken":[]}]}},"/rest/pagamenti/v1/infoPerTransazione":{"post":{"tags":["Pagamenti"],"summary":"Servizio che restituisce il dettaglio del pagamento se è stato pagato utilizzando l’idTransazione del pagamento come input","operationId":"postInfoPerTransazioneUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInfoPagamentoTransazioneDto","description":"richiestaInfoPagamentoTransazioneDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoPagamentoTransazioneDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoPagamentoTransazioneDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}],"deprecated":true}},"/rest/debiti/v1/checkout":{"post":{"tags":["Avvisi pagamento"],"summary":"Permette di pagare una posizione già presente nei sistemi JPPA","description":"Servizio che gestisce la richiesta di pagamento di un carrello di debiti e restituisce l'identificativo della transazione che è stata creata ed un URL.\nViene controllato che i numeri Avviso passati esistano e che gli importi corrispondano, nel caso si tratti di un multibeneficiario l'importo deve corrispondere alla somma delle due componenti","operationId":"postCheckoutUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaCheckoutDto","description":"richiestaCheckoutDto","required":true,"schema":{"$ref":"#/definitions/RichiestaCheckoutDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaCheckoutDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/estrattoConto/v1/ricerca":{"post":{"tags":["Estratto conto"],"summary":"Restituisce i debiti filtrati dai parametri passati in input","operationId":"getEstrattoContoUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"filtriRicercaEstrattoConto","description":"filtriRicercaEstrattoConto","required":true,"schema":{"$ref":"#/definitions/EstrattoContoInputRequestFilterDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EstrattoContoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/avvisiPagamento/v1/modificaContribuente":{"patch":{"tags":["Avvisi pagamento"],"summary":"Servizio che permette la modifica del contribuente di un avviso (attivo)","operationId":"patchModificaContribuenteUsingPATCH","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"modificaContribuenteDto","description":"modificaContribuenteDto","required":true,"schema":{"$ref":"#/definitions/RichiestaModificaContribuenteDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaModificaContribuenteDto"}},"204":{"description":"No Content"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"jwtToken":[]}]}},"/rest/riconciliazione/v1/infoRiconciliazioneVersamento":{"post":{"tags":["Riconciliazione"],"summary":"Restituisce l’elenco dei pagamenti riconciliati riferiti ad un versamento","operationId":"postInfoRiconciliazioneVersamentoUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInfoRiconciliazioneVersamentoDto","description":"richiestaInfoRiconciliazioneVersamentoDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoRiconciliazioneVersamentoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoRiconciliazioneVersamentoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}}},"security":[{"jwtToken":[]}]}},"/rest/pagamenti/v1/infoPerDate":{"post":{"tags":["Pagamenti"],"summary":"Servizio che permette il recupero della lista di pagamenti effettuati.","description":"Recupera tutti i pagamenti nello stato CONTABILIZZATO o NOTIFICATO con data di creazione del pagamento telematico incluso nelle date, non è la data del pagamento! (Massimo 10000 risultati)","operationId":"postInfoUsingPOST_2","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaListaPagamentiDto","description":"richiestaListaPagamentiDto","required":true,"schema":{"$ref":"#/definitions/RichiestaListaPagamentiDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaListaPagamentiDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/debiti/v1/modificaGruppoDebiti":{"patch":{"tags":["Avvisi pagamento"],"summary":"Servizio che permette di modificare il campo gruppodeb di una lista di debiti mod 3","operationId":"patchModificaGruppoDebitiUsingPATCH","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaModificaGruppoDebiti","description":"richiestaModificaGruppoDebiti","required":true,"schema":{"$ref":"#/definitions/RichiestaModificaGruppoDebitiDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaModificaGruppoDebitiDto"}},"204":{"description":"No Content"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"jwtToken":[]}]}},"/rest/notifiche/v2/pagamenti":{"post":{"tags":["Notifiche"],"summary":"Import di ricevute telematiche rif: https://www.notion.so/gruppo-maggioli/RT-estese-Notificate-via-REST-a0bbc01a02b34156a464721a9c1f7b4f","operationId":"postPagamentiV2UsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"notificaPagamento","description":"notificaPagamento","required":true,"schema":{"$ref":"#/definitions/RichiestaNotificaPagamentoV2Dto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaNotificaPagamentoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}}},"security":[{"jwtToken":[]}]}},"/rest/pos/v1/pagaDebito":{"post":{"tags":["Pos"],"summary":"Servizio che gestisce la richiesta di pagamento di un carrello di debiti e restituisce l'identificativo della transazione che è stata creata ed un URL","description":"Il servizio creerà il/i debito/i, creerà una transazione e restituirà un identTransazione e un URL. Il client invocando tale URL concluderà la procedura di pagamento (modello 1) del carrello debiti prima sottomesso.","operationId":"postPagaPosUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaPagaDebitoPOSDto","description":"richiestaPagaDebitoPOSDto","required":true,"schema":{"$ref":"#/definitions/RichiestaPagaDebitoPOSDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaPagaDebitoPOSDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/debiti/v2/checkout":{"post":{"tags":["Avvisi pagamento"],"summary":"Permette di pagare una posizione già presente nei sistemi JPPA","description":"Servizio che gestisce la richiesta di pagamento di un carrello di debiti e restituisce l'identificativo della transazione che è stata creata ed un URL.\nViene controllato che i numeri Avviso passati esistano e che gli importi corrispondano, nel caso si tratti di un multibeneficiario l'importo deve corrispondere alla somma delle due componenti","operationId":"postCheckoutV2UsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaCheckoutDto","description":"richiestaCheckoutDto","required":true,"schema":{"$ref":"#/definitions/RichiestaCheckoutV2Dto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaCheckoutV2Dto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/dovuti/v1/inviaDovuti":{"post":{"tags":["Avvisi pagamento"],"summary":"Nuovo metodo per la creazione del numero avviso","description":"La richiesta deve avere un’unica testataDovuto e la lista dei dettaglioDovuto specifici del Beneficiario. E' sotto inteso che in questa modalità l’intestatario del pagamento è unico, così come il numero di avviso assegnato, la correlazione è nella presenza di più posizioni debitorie assegnate a beneficiari diversi. \nIl numero massimo di elementi, ovvero di posizioni debitorie allegabili al multibeneficiario è 2","operationId":"postInviaDovutiUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInviaDovutiDto","description":"richiestaInviaDovutiDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInviaDovutiRestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInviaDovutiDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/pagamenti/v2/infoPerIuv":{"post":{"tags":["Pagamenti"],"summary":"Servizio che permette di ricevere informazioni sui pagamenti attraverso lo IUV in input","operationId":"postInfoPerIuvV2UsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInfoAvvisoPagamentoPerIuvDto","description":"richiestaInfoAvvisoPagamentoPerIuvDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoAvvisoPagamentoPerIuvDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoPagamentoPerIuvDtoV2"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}}},"security":[{"jwtToken":[]}]}},"/rest/avvisiPagamento/v1/modificaCausale":{"patch":{"tags":["Avvisi pagamento"],"summary":"Servizio che permette la modifica della causale di un avviso (attivo)","operationId":"patchModificaCausaleUsingPATCH","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"modificaCausaleDto","description":"modificaCausaleDto","required":true,"schema":{"$ref":"#/definitions/RichiestaModificaCausaleDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaModificaCausaleDto"}},"204":{"description":"No Content"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"jwtToken":[]}]}},"/rest/pagamenti/v1/infoPerDovuto":{"post":{"tags":["Pagamenti"],"summary":"Nuovo metodo pensato per essere il successore di infoPerDebito nel caso delle nuove SANP","description":"Ritorna anche il testo della nuova RT (se presente), sia per i debiti monobeneficiario che per i multibeneficiario. Inoltre nel caso ci siano associati dei pagamenti multibeneficiario, c’è un tag aggiuntivo che li descrive e i relativi pagamenti telematici \nNel caso di pagamento mod3 ci sarà inoltre la Receipt originale + una RT generata dalla Receipt. Nel caso di pagamento mod1 ci sarà la RT originale e Receipt vuota.","operationId":"postInfoPerDovutoUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInfoPagamentoDovutoDto","description":"richiestaInfoPagamentoDovutoDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoPagamentoDovutoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoPagamentoDovutoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}],"deprecated":true}},"/rest/dovuti/v1/inviaDovuto":{"post":{"tags":["Avvisi pagamento"],"summary":"Permette di inviare in modo sincrono un singolo debito modello 3 (sia esso monobeneficiario o multibeneficiario). Il metodo è la versione aggiornata alle nuove SANP","operationId":"postInviaDovutoUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInviaDovutoDto","description":"richiestaInviaDovutoDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInviaDovutoRestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInviaDovutoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/debiti/v1/infoListaScarti":{"post":{"tags":["Avvisi pagamento"],"summary":"Servizio che restituisce la lista di pagamenti mod 3 scartati dal caricamento o dall’aggiornamento in un certo periodo di tempo","operationId":"postInfoListaScartiUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInfoListaScarti","description":"richiestaInfoListaScarti","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoListaScartiCaricamentoDebitiPdpDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoListaScartiCaricamentoDebitiPdpDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/attualizzazione/v2/notification-price":{"get":{"tags":["Attualizzazione"],"summary":"Restituisce le spese notifica del debito specificato, gestisce multibeneficiario e dati contabili","operationId":"getNotificationPriceV2UsingGET","produces":["application/json;charset=utf-8"],"parameters":[{"name":"cfEnteCreditore","in":"query","description":"cfEnteCreditore","required":true,"type":"string"},{"name":"importoPosizione","in":"query","description":"importoPosizione","required":true,"type":"string","enum":["N","S"]},{"name":"numeroAvviso","in":"query","description":"numeroAvviso","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaSpeseNotificaV2Dto"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/APIAttualizzazioneErrorResponse"}},"401":{"description":"Error","schema":{"$ref":"#/definitions/APIAttualizzazioneErrorResponse"}},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Error","schema":{"$ref":"#/definitions/APIAttualizzazioneErrorResponse"}}},"security":[{"jwtToken":[]}]},"post":{"tags":["Attualizzazione"],"summary":"Restituisce le spese notifica del debito specificato, gestisce multibeneficiario e dati contabili","operationId":"postNotificationPriceV2UsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiediSpeseNotificaDto","description":"richiediSpeseNotificaDto","required":true,"schema":{"$ref":"#/definitions/RichiediSpeseNotificaDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaSpeseNotificaV2Dto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/APIAttualizzazioneErrorResponse"}},"401":{"description":"Error","schema":{"$ref":"#/definitions/APIAttualizzazioneErrorResponse"}},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Error","schema":{"$ref":"#/definitions/APIAttualizzazioneErrorResponse"}}},"security":[{"jwtToken":[]}]}},"/rest/pagamenti/v1/infoPerIuv":{"post":{"tags":["Pagamenti"],"summary":"Servizio che permette di ricevere informazioni sui pagamenti attraverso lo IUV in input","operationId":"postInfoPerIuvUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInfoAvvisoPagamentoPerIuvDto","description":"richiestaInfoAvvisoPagamentoPerIuvDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoAvvisoPagamentoPerIuvDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoPagamentoPerIuvDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}}},"security":[{"jwtToken":[]}],"deprecated":true}},"/rest/avvisiPagamento/v1/modificaImporto":{"patch":{"tags":["Avvisi pagamento"],"summary":"Permette la modifica dell'importo di un avviso (attivo)","operationId":"patchModificaImportoUsingPATCH","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"modificaImportoDto","description":"modificaImportoDto","required":true,"schema":{"$ref":"#/definitions/RichiestaModificaImportoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaModificaImportoDto"}},"204":{"description":"No Content"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"jwtToken":[]}]}},"/rest/avvisiPagamento/v1/info":{"post":{"tags":["Avvisi pagamento"],"summary":"Servizio che restituisce la lista di pagamenti mod 3 che rispettano diversi criteri di ricerca (tipo debito, date, flag vari ecc.)","description":"Solo uno tra rendicontati e riconciliati può essere true. L'altro deve essere o null o valorizzato a false","operationId":"postInfoUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"infoAvvisiPagamento","description":"infoAvvisiPagamento","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoAvvisiPagamentoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoAvvisiPagamentoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found"}},"security":[{"jwtToken":[]}]}},"/rest/debiti/v1/paga":{"post":{"tags":["Avvisi pagamento"],"summary":"Servizio che gestisce la richiesta di pagamento di un carrello di debiti e restituisce l'identificativo della transazione che è stata creata ed un URL","description":"Il servizio creerà il/i debito/i, creerà una transazione e restituirà un identTransazione e un URL. Il client invocando tale URL concluderà la procedura di pagamento (modello 1) del carrello debiti prima sottomesso.","operationId":"postPagaUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaPagaDebitiDto","description":"richiestaPagaDebitiDto","required":true,"schema":{"$ref":"#/definitions/RichiestaPagaDebitiDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaPagaDebitiDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}]}},"/rest/avvisiPagamento/v2/infoPerNumeroAvviso":{"post":{"tags":["Avvisi pagamento"],"summary":"Servizio che restituisce il dettaglio del debito tramite il numero avviso","operationId":"infoPerNumeroAvvisoV2UsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"infoAvvisiPagamentoPerNumeroAvviso","description":"infoAvvisiPagamentoPerNumeroAvviso","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoAvvisoPagamentoPerNumeroAvvisoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoAvvisoPagamentoPerNumeroAvvisoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not found","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}}},"security":[{"jwtToken":[]}]}},"/rest/pagamenti/v1/infoPerDebito":{"post":{"tags":["Pagamenti"],"summary":"Servizio che restituisce il dettaglio del pagamento (se pagato), utilizzando le chiavi del debito come input","description":"Nel caso si richiedano chiavi di una posizione pagata tramite Carrello, verranno restituite tutte le posizioni associate al carrello e tutti gli eventuali tentativi.","operationId":"postInfoPerDebitoUsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"richiestaInfoPagamentoDebitoDto","description":"richiestaInfoPagamentoDebitoDto","required":true,"schema":{"$ref":"#/definitions/RichiestaInfoPagamentoDebitoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaInfoPagamentoDebitoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"jwtToken":[]}],"deprecated":true}},"/rest/notifiche/v1/pagamenti":{"post":{"tags":["Notifiche"],"summary":"Import di ricevute telematiche rif: https://www.notion.so/gruppo-maggioli/RT-estese-Notificate-via-REST-a0bbc01a02b34156a464721a9c1f7b4f","operationId":"postPagamentiV1UsingPOST","consumes":["application/json"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"notificaPagamento","description":"notificaPagamento","required":true,"schema":{"$ref":"#/definitions/RichiestaNotificaPagamentoDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RispostaNotificaPagamentoDto"}},"201":{"description":"Created"},"400":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Error","schema":{"$ref":"#/definitions/StandardAPIErrorResponse"}}},"security":[{"jwtToken":[]}],"deprecated":true}}},"securityDefinitions":{"jwtToken":{"description":"Inserire il token generato attraverso il servizio /rest/login e aggiungere il prefisso `Bearer `.<br>Ad esempio \"Bearer eyJhbGciOiJe\"","type":"apiKey","name":"Authorization","in":"header"}},"definitions":{"RichiestaInviaDovutiRestDto":{"type":"object","required":["codiceIPA","codiceServizio","dovuti"],"properties":{"codiceIPA":{"type":"string","example":"EntTest1","description":"Codice IPA identificativo dell’ente"},"codiceServizio":{"type":"string","example":"JTRIB","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"dovuti":{"type":"array","items":{"$ref":"#/definitions/InviaDovutoDto"}},"transactional":{"type":"boolean","example":false,"description":"Flag per far sì che la transazione sia unica o meno"}},"title":"RichiestaInviaDovutiRestDto"},"RichiestaModificaDovutiDto":{"type":"object","required":["codiceIPA","codiceServizio","dovutoDto"],"properties":{"codiceIPA":{"type":"string","example":"EntTest1","description":"Codice IPA identificativo dell’ente"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio chiamante"},"dovutoDto":{"$ref":"#/definitions/ModificaDovutoDto"},"operazione":{"type":"string","example":"ALL","description":"Indica quale parte dell'oggetto va modificato, e per ciascun caso verrà verificato che il campo che si intende modificare sia presente e valido, in caso contrario verrà ritornato un errore, l’operazione ALL esegue tutti i controlli delle precedenti operazioni","enum":["ALL","MODIFICA_ANNO_COMPETENZA","MODIFICA_CAUSALE_DEBITO","MODIFICA_CONTRIBUENTE_DEBITO","MODIFICA_DETTAGLI_IMPORTO_DEBITO","MODIFICA_IMPORTO_DEBITO","MODIFICA_SCADENZA_DEBITO"]}},"title":"RichiestaModificaDovutiDto"},"RispostaInfoRiconciliazioneDto":{"type":"object","required":["codiceIpaBeneficiario"],"properties":{"codiceIpaBeneficiario":{"type":"string","example":"EntTest1","description":"CodiceIPA dell’ente da interrogare"},"sospesiRiconciliati":{"type":"array","items":{"$ref":"#/definitions/SospesoRiconciliatoDto"}}},"title":"RispostaInfoRiconciliazioneDto"},"RichiestaInfoRiconciliazioneVersamentoDto":{"type":"object","required":["codiceIpaBeneficiario","identificativoUnivocoVersamento"],"properties":{"codiceIpaBeneficiario":{"type":"string","example":"EntTest1","description":"Codice IPA identificativo dell'ente beneficiario"},"identificativoUnivocoVersamento":{"type":"string","example":"04689000000031447","description":"Identificativo Univoco Versamento che si intende ricercare"}},"title":"RichiestaInfoRiconciliazioneVersamentoDto"},"EsitoDto":{"type":"object","properties":{"esito":{"type":"string","example":"Error","enum":["CON_SCARTI","Error","OK"]},"messaggio":{"type":"string"}},"title":"EsitoDto"},"RispostaInfoAvvisoPagamentoPerChiaveDebitoDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"avvisoPagamentoDto":{"$ref":"#/definitions/AvvisoPagamentoDto"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"}},"title":"RispostaInfoAvvisoPagamentoPerChiaveDebitoDto"},"RispostaModificaImportoDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"numeroAvvisoDto":{"$ref":"#/definitions/NumeroAvvisoDto"}},"title":"RispostaModificaImportoDto"},"RichiestaModificaCausaleDto":{"type":"object","required":["causale","codIpaRichiedente","codiceServizio","numeroAvvisoDto"],"properties":{"causale":{"type":"string","example":"MULTA PER ECCESSO DI VELOCITA' - COMUNE DI BAGNOLO MELLA","description":"Definisce la nuova causale, max 140 caratteri"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"numeroAvvisoDto":{"$ref":"#/definitions/NumeroAvvisoDto"}},"title":"RichiestaModificaCausaleDto"},"RichiestaEliminaAvvisoPagamentoDto":{"type":"object","required":["codIpaRichiedente","codiceMotivoEliminazione","codiceServizio","numeroAvvisoDto"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceMotivoEliminazione":{"type":"string","enum":["ALTRO","ATTIVAZIONE","ATTIVAZIONE_RIAPERTURA_TERMINI","DISATTIVAZIONE","ELIMINAZIONE","ELIMINAZIONE_DA_CRUSCOTTO","ELIMINAZIONE_DEBITO","IMPORTO_ATTUALIZZATO","MODIFICA_CAUSALE","MODIFICA_CONTRIBUENTE","MODIFICA_DATE_SCADENZA","MODIFICA_DETTAGLI_IMPORTO","MODIFICA_IMPORTO","MODIFICA_SPESE_NOTIFICA","PAGAMENTO_ESTERNO","RIATTIVAZIONE_DAFLUSSO_REND","SOSTITUZIONE"]},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"descrizioneEliminazione":{"type":"string"},"numeroAvvisoDto":{"$ref":"#/definitions/NumeroAvvisoDto"}},"title":"RichiestaEliminaAvvisoPagamentoDto"},"CtEsito":{"type":"object","properties":{"esito":{"type":"string","xml":{"name":"Esito","attribute":false,"wrapped":false},"enum":["ERROR","OK"]},"messaggio":{"type":"string","xml":{"name":"Messaggio","attribute":false,"wrapped":false}}},"title":"CtEsito","xml":{"name":"ctEsito","attribute":false,"wrapped":false}},"RichiestaInviaDovutoRestDto":{"type":"object","required":["codiceIPA","codiceServizio","dovuto"],"properties":{"codiceIPA":{"type":"string","example":"EntTest1","description":"Codice IPA identificativo dell’ente"},"codiceServizio":{"type":"string","example":"JTRIB","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"dovuto":{"$ref":"#/definitions/InviaDovutoDto"},"transactional":{"type":"boolean","example":false,"description":"Flag per far sì che la transazione sia unica o meno"}},"title":"RichiestaInviaDovutoRestDto"},"StandardAPIErrorResponse":{"type":"object","properties":{"errorCode":{"type":"string","description":"Codice errore"},"message":{"type":"string","description":"Messaggio d'errore"}},"title":"StandardAPIErrorResponse"},"RichiestaInfoListaFlussiRendicontazioneDto":{"type":"object","required":["codIpaRichiedente","codiceIpaBeneficiario","codiceServizio","dataFineRicerca","dataInizioRicerca"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceIpaBeneficiario":{"type":"string","example":"EntTest1","description":"CodiceIPA dell’ente da interrogare"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"dataFineRicerca":{"type":"string","format":"date-time","description":"Data inclusiva, deve essere sempre superiore di almeno 1 giorno alla dataInizioRicerca"},"dataInizioRicerca":{"type":"string","format":"date-time","example":"2010-01-01T14:52:43.922Z","description":"Data inclusiva"},"opzioneFiltroData":{"type":"string","description":"Se non valorizzato, si assume DATA_REGOLAMENTO di default","enum":["DATA_INSERIMENTO","DATA_REGOLAMENTO"]}},"title":"RichiestaInfoListaFlussiRendicontazioneDto"},"RichiestaPagaDebitiDto":{"type":"object","required":["codIpaRichiedente","codiceServizio","debiti","idRichiestaPagamento","versante"],"properties":{"backUrlDto":{"$ref":"#/definitions/BackUrlDto"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"debiti":{"type":"array","items":{"$ref":"#/definitions/DebitoDto"}},"idRichiestaPagamento":{"type":"string","example":"ND","description":"Identificativo univoco scelto dal Client chiamante. Identifica l'id carrello e viene agganciato alla transazione"},"multibeneficiario":{"type":"boolean","example":false,"description":"Flag usato per identificare la nuova modalità con multi beneficiario"},"versante":{"$ref":"#/definitions/ContribuenteDto"}},"title":"RichiestaPagaDebitiDto"},"RichiestaModificaContribuenteDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"contribuenteDto":{"$ref":"#/definitions/ContribuenteDto"},"numeroAvvisoDto":{"$ref":"#/definitions/NumeroAvvisoDto"}},"title":"RichiestaModificaContribuenteDto"},"RispostaEliminaAvvisoPagamentoDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"numeroAvvisoDto":{"$ref":"#/definitions/NumeroAvvisoDto"}},"title":"RispostaEliminaAvvisoPagamentoDto"},"RichiestaInfoRiconciliazioneDto":{"type":"object","required":["codiceIpaBeneficiario","listaIdentificativoFlusso","listaSospesi"],"properties":{"codiceIpaBeneficiario":{"type":"string","example":"EntTest1","description":"Codice IPA identificativo dell'ente beneficiario"},"listaIdentificativoFlusso":{"type":"array","example":["2016-08-04BCITITMM-IT56Z"],"items":{"type":"string"}},"listaSospesi":{"type":"array","items":{"$ref":"#/definitions/IdentificativoSospesoDto"}},"operazione":{"type":"string","enum":["PER_IDENTIFICATIVO_FLUSSO","PER_SOSPESI"]}},"title":"RichiestaInfoRiconciliazioneDto"},"RispostaInfoAvvisoPagamentoPerNumeroAvvisoDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"avvisoPagamentoDto":{"$ref":"#/definitions/AvvisoPagamentoDto"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"multibeneficiarioDto":{"$ref":"#/definitions/MultibeneficiarioDto"}},"title":"RispostaInfoAvvisoPagamentoPerNumeroAvvisoDto"},"RispostaInviaDovutoDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"avvisoPagamentoResultDto":{"$ref":"#/definitions/AvvisoPagamentoResultDto"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"}},"title":"RispostaInviaDovutoDto"},"DettaglioDovutoDto":{"type":"object","required":["causaleDebito","codiceIpaCreditore","codiceTipoDebito","dataInizioValidita","gruppo","idDeb","importoDebito","ordinamento"],"properties":{"causaleDebito":{"type":"string","example":"Multa","description":"La causale del debito che viene inviata ad AGID, max 140 caratteri"},"codiceIpaCreditore":{"type":"string","example":"EntTest1","description":"Codice IPA identificativo dell’ente creditore"},"codiceLotto":{"type":"string","example":"lotto478325","description":"Alfanumerico per l'identificazione di debiti aggregati per affinità ed importanza per l'ente, nato esplicitamente per le Poste, max 200 caratteri"},"codiceTipoDebito":{"type":"string","example":"MULTE","description":"Codice che raggruppa tutte le parametrizzazioni semanticamente omogeneo di debiti. Identifica tipicamente un tributo o più in generale un onere che l’utente finale ha maturato nei confronti della pubblica amministrazione, max 1000 caratteri"},"dataAttualizzazione":{"type":"string","format":"date-time","example":"2023-04-09T13:51:40.996Z","description":"Data oltre la quale il debito deve essere attualizzato se attualizzazioneSpeseNotifica = ATTUALIZZAZIONE_DELAYED (entro i limiti di pagabilità)"},"dataFineValidita":{"type":"string","format":"date-time","example":"2024-03-09T13:51:40.996Z","description":"Data di fine validità del debito"},"dataInizioValidita":{"type":"string","format":"date-time","example":"2023-03-09T13:51:40.996Z","description":"Data di inizio validità del debito"},"dataLimitePagabilita":{"type":"string","format":"date-time","example":"2024-03-09T13:51:40.996Z","description":"Indica la data limite di pagabilità nel caso in cui la data di fine validità ricada in una data in cui non sia possibile effettuare il pagamento. Se non impostato la data limite di pagabilità sarà impostata uguale alla data di fine validità"},"datiAccertamento":{"type":"array","items":{"$ref":"#/definitions/DatoAccertamentoDto"}},"gruppo":{"type":"string","example":1,"description":"Identifica una opzione di pagamento per la relativa posizione debitoria"},"idDeb":{"type":"string","example":80876,"description":"Identificativo del debito, è univoco nello scope della posizione debitoria, max 256 caratteri"},"importoDebito":{"type":"number","example":59.99,"description":"Importo con due cifre decimali, massimo valore previsto 999999999.99"},"importoPaFee":{"type":"number","example":59.99,"description":"Costo che la PA imputa per la notifica. Obbligatoria per notifiche con ATTUALIZZAZIONE_ON e modalità di integrazione Async. Importo con due cifre decimali"},"importoSpeseNotifica":{"type":"number","example":59.99,"description":"Importo spese notifica con due cifre decimali"},"marcaDaBollo":{"$ref":"#/definitions/MarcaDaBolloDto"},"ordinamento":{"type":"integer","format":"int32","example":1,"description":"Indica l'ordinamento del debito all'interno del gruppo"},"parametriDebito":{"type":"array","items":{"$ref":"#/definitions/ParametroDebitoDto"}},"speseNotificaDaAttualizzare":{"type":"string","example":"ATTUALIZZAZIONE_OFF","description":"flag che indica se le spese notifica sono da attualizzare","enum":["ATTUALIZZAZIONE_DELAYED","ATTUALIZZAZIONE_OFF","ATTUALIZZAZIONE_ON"]},"speseNotificaVoceContabile":{"type":"string","example":"117/2023","description":"Identifica voce contabile per SEND"}},"title":"DettaglioDovutoDto"},"RispostaInfoListaScartiCaricamentoDebitiPdpDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"listaScartiCaricamentoDebitiPdp":{"type":"array","items":{"$ref":"#/definitions/ListaScartiCaricamentoDebitiPdp"}}},"title":"RispostaInfoListaScartiCaricamentoDebitiPdpDto"},"EstrattoContoInputRequestFilterV2Dto":{"type":"object","required":["codiceFiscaleDebitore","pagamento"],"properties":{"codiceFiscaleDebitore":{"type":"string"},"codiciIpa":{"type":"array","items":{"type":"string"}},"codiciTipoDebito":{"type":"array","items":{"type":"string"}},"dataDiPagamento":{"description":"Finestra di date entro la quale il debito è stato pagato","$ref":"#/definitions/DateInterval"},"dataDiScadenza":{"description":"Finestra di date entro la quale il debito scade","$ref":"#/definitions/DateInterval"},"elementiInPagina":{"type":"integer","format":"int32","example":10,"description":"Obbligatorio se pagina è valorizzata"},"inEsecuzione":{"type":"integer","format":"int32"},"pagamento":{"type":"integer","format":"int32"},"pagina":{"type":"integer","format":"int32","example":1,"description":"Obbligatorio se elementiInPagina è valorizzato"}},"title":"EstrattoContoInputRequestFilterV2Dto"},"NotificaInfoPagamentoDovutoDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"chiaveDebitoDto":{"$ref":"#/definitions/ChiaveDebitoDto"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"dataValuta":{"type":"string","format":"date"},"dettaglioPosizione":{"type":"string"},"listaInfoPagamentoTelematicoDto":{"type":"array","items":{"$ref":"#/definitions/InfoPagamentoTelematicoNotificaDto"}},"multibeneficiarioDto":{"$ref":"#/definitions/MultibeneficiarioDto"}},"title":"NotificaInfoPagamentoDovutoDto"},"RichiestaInfoAvvisoPagamentoPerIuvDto":{"type":"object","required":["codIpaRichiedente","codiceServizio","iuv"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceIpaCreditore":{"type":"string","example":"EntTest1","description":"Codice IPA identificativo dell’ente creditore"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"iuv":{"type":"string","example":"RF17040000000000000004063","description":"Identificativo Univoco Versamento, attribuito dall'Ente Creditore ad ogni operazione di incasso e che non può essere associato nel tempo ad alcun altro incasso emesso dal medesimo Ente Creditore, max 25 caratteri"}},"title":"RichiestaInfoAvvisoPagamentoPerIuvDto"},"InfoMultibeneficiarioDto":{"type":"object","properties":{"chiaviDebito":{"$ref":"#/definitions/ChiaveDebitoDto"},"codiceIpa":{"type":"string","example":"EntTest1","description":"Codice IPA identificativo dell’ente"},"importo":{"type":"number","example":59.99}},"title":"InfoMultibeneficiarioDto"},"RichiestaInfoPagamentoTransazioneDto":{"type":"object","required":["codIpaRichiedente","codiceServizio","identificativoTransazione"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"identificativoTransazione":{"type":"string","example":"e5d22b84-57e5-4a74-ae37-3ccfc164aa1d","description":"Identificativo univoco transazione"}},"title":"RichiestaInfoPagamentoTransazioneDto"},"RispostaNotificaPagamentoDto":{"type":"object","properties":{"errorMessages":{"type":"array","items":{"type":"string"}},"esito":{"type":"string","enum":["CON_SCARTI","Error","OK"]},"identificativoUnivocoVersamento":{"type":"string"},"warningMessages":{"type":"array","items":{"type":"string"}}},"title":"RispostaNotificaPagamentoDto"},"RichiestaNotificaPagamentoV2Dto":{"type":"object","required":["base64Ricevuta","identificativoDominioEnteCreditore"],"properties":{"base64Ricevuta":{"type":"string","description":"Ricevuta telematica codificata in base 64"},"datiAccertamento":{"type":"array","description":"Lista dei dettagli importo","items":{"$ref":"#/definitions/DatoAccertamentoDto"}},"identificativoDominioEnteCreditore":{"type":"string","example":"41728850466","description":"Identificativo del dominio dell'ente creditore"}},"title":"RichiestaNotificaPagamentoV2Dto"},"ListaScartiCaricamentoDebitiPdp":{"type":"object","properties":{"chiaveDebito":{"xml":{"name":"ChiaveDebito","attribute":false,"wrapped":false},"$ref":"#/definitions/CtChiaveDebito"},"numeroAvviso":{"xml":{"name":"NumeroAvviso","attribute":false,"wrapped":false},"$ref":"#/definitions/CtNumeroAvviso"}},"title":"ListaScartiCaricamentoDebitiPdp","xml":{"attribute":false,"wrapped":false}},"RispostaCheckoutDto":{"type":"object","required":["codIpaRichiedente","codiceServizio","identTransazione","url"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"esitoDto":{"$ref":"#/definitions/EsitoDto"},"identTransazione":{"type":"string","example":"ND","description":"Identificativo univoco della transazione creata su PagoPA"},"url":{"type":"string","example":"https://collaudopagopa.comune-online.it/jcitygov-pagopa/web/webpagopa/pagaCarrello","description":"Url che il chiamante dovrà invocare per procedere con il pagamento dei numeri avviso"}},"title":"RispostaCheckoutDto"},"RichiestaModificaAnnoCompetenzaDto":{"type":"object","required":["anno","codIpaRichiedente","codiceServizio","numeroAvvisoDto"],"properties":{"anno":{"type":"string","example":2020},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"numeroAvvisoDto":{"$ref":"#/definitions/NumeroAvvisoDto"}},"title":"RichiestaModificaAnnoCompetenzaDto"},"DatoAccertamentoDto":{"type":"object","required":["annoAccertamento","codiceAccertamento","descrizioneAccertamento","importoAccertamento"],"properties":{"annoAccertamento":{"type":"string","example":2022},"codiceAccertamento":{"type":"string","example":"504 bis"},"descrizioneAccertamento":{"type":"string","example":"504/2022"},"importoAccertamento":{"type":"number","example":59.99,"description":"Importo con due cifre decimali. Sono accettati anche valori negativi."}},"title":"DatoAccertamentoDto"},"RichiestaInfoAvvisoPagamentoPerIdPosDto":{"type":"object","required":["chiaveDebitoRidotta","codIpaRichiedente","codiceServizio"],"properties":{"chiaveDebitoRidotta":{"$ref":"#/definitions/ChiaveDebitoRidottaDto"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceIpaCreditore":{"type":"string","example":"EntTest1","description":"Codice IPA identificativo dell’ente crediore"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"}},"title":"RichiestaInfoAvvisoPagamentoPerIdPosDto"},"DebitoEstrattoContoDto":{"type":"object","properties":{"base64RT":{"type":"string"},"causalePagamento":{"type":"string"},"codiceDiTassonomia":{"type":"string"},"codiceIpaEnte":{"type":"string"},"codiceServizio":{"type":"string"},"codiceTipoDebito":{"type":"string"},"dataPagamento":{"type":"string","example":"2024-03-09T13:51:40.996Z"},"dataScadenzaPagamento":{"type":"string","example":"2024-03-09T13:51:40.996Z"},"descrizioneTassonomia":{"type":"string"},"gruppo":{"type":"string"},"iDeb":{"type":"string"},"iPosDeb":{"type":"string"},"identificativoUnivocoVersamento":{"type":"string"},"importoDebito":{"type":"number","format":"double"},"inEsecuzione":{"type":"boolean"},"modalitaPagamento":{"type":"string","enum":["MOD1","MOD3"]},"numeroAvviso":{"type":"string"},"pagato":{"type":"boolean"},"statoPagamento":{"type":"string","enum":["COMPLETATO","CONTABILIZZATO","INVIATO","NOTIFICATO","RIFIUTATO"]}},"title":"DebitoEstrattoContoDto"},"RispostaModificaContribuenteDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"numeroAvvisoDto":{"$ref":"#/definitions/NumeroAvvisoDto"}},"title":"RispostaModificaContribuenteDto"},"ListaTerminaliPOSDto":{"type":"object","required":["idPos"],"properties":{"contestoPos":{"type":"string","example":"JCITYGOV"},"descrizionePos":{"type":"string","example":"POS MAGGIOLI (postazione di TEST)"},"idPos":{"type":"string","example":4567,"description":"Identificativo univoco della posizione debitoria generato dal servizio chiamante, max 256 caratteri"}},"title":"ListaTerminaliPOSDto"},"RispostaSpeseNotificaDto":{"type":"object","properties":{"dataPerfezionamentoDecorrenzaTermini":{"type":"string"},"dataVisualizzazione":{"type":"string"},"importoPosizione":{"type":"integer","format":"int32"},"iun":{"type":"string"},"numeroAvviso":{"type":"string"},"speseNotifica":{"type":"integer","format":"int32"}},"title":"RispostaSpeseNotificaDto"},"CtAttivaAvvisoPerIdLottoResult":{"type":"object","properties":{"esito":{"xml":{"name":"Esito","attribute":false,"wrapped":false},"$ref":"#/definitions/CtEsito"}},"title":"CtAttivaAvvisoPerIdLottoResult","xml":{"name":"ctAttivaAvvisoPerIdLottoResult","attribute":false,"wrapped":false}},"RichiestaModificaDettagliImportoDto":{"type":"object","required":["chiaveDebitoDto","codIpaRichiedente","codiceServizio","datiAccertamento"],"properties":{"chiaveDebitoDto":{"$ref":"#/definitions/ChiaveDebitoDto"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"datiAccertamento":{"type":"array","items":{"$ref":"#/definitions/DatoAccertamentoDto"}}},"title":"RichiestaModificaDettagliImportoDto"},"DatiVersanteDto":{"type":"object","properties":{"cap":{"type":"string"},"civico":{"type":"string"},"codiceIdentificativoUnivoco":{"type":"string","example":"NMCGNM84T01C573A"},"cognome":{"type":"string","example":"COGNOME"},"email":{"type":"string"},"identificativoUnivocoVersante":{"type":"string","example":"NMCGNM84T01C573A|F"},"indirizzo":{"type":"string"},"localita":{"type":"string"},"nazione":{"type":"string"},"nome":{"type":"string","example":"NOME"},"provincia":{"type":"string"},"ragioneSociale":{"type":"string"},"tipoIdentificativoUnivoco":{"type":"string","example":"F"}},"title":"DatiVersanteDto"},"RichiestaCreaAvvisoPagamentoDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"avvisoDiPagamento":{"$ref":"#/definitions/AvvisoPagamentoDto"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"notificaNumeroAvviso":{"type":"boolean","example":false}},"title":"RichiestaCreaAvvisoPagamentoDto"},"RispostaCreaAvvisoPagamentoDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"avvisoPagamentoResultDto":{"$ref":"#/definitions/AvvisoPagamentoResultDto"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"}},"title":"RispostaCreaAvvisoPagamentoDto"},"RichiestaModificaImportoDto":{"type":"object","required":["causaAggStato","codIpaRichiedente","codiceServizio","importo","numeroAvvisoDto"],"properties":{"attualizzazioneSpeseNotifica":{"type":"string","example":"ATTUALIZZAZIONE_ON","description":"flag attualizzazione spese notifica","enum":["ATTUALIZZAZIONE_DELAYED","ATTUALIZZAZIONE_OFF","ATTUALIZZAZIONE_ON"]},"causaAggStato":{"type":"string","enum":["ALTRO","ATTIVAZIONE","ATTIVAZIONE_RIAPERTURA_TERMINI","DISATTIVAZIONE","ELIMINAZIONE","ELIMINAZIONE_DA_CRUSCOTTO","ELIMINAZIONE_DEBITO","IMPORTO_ATTUALIZZATO","MODIFICA_CAUSALE","MODIFICA_CONTRIBUENTE","MODIFICA_DATE_SCADENZA","MODIFICA_DETTAGLI_IMPORTO","MODIFICA_IMPORTO","MODIFICA_SPESE_NOTIFICA","PAGAMENTO_ESTERNO","RIATTIVAZIONE_DAFLUSSO_REND","SOSTITUZIONE"]},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"dataAttualizzazione":{"type":"string","format":"date-time","example":"2023-04-09T13:51:40.996Z","description":"Data oltre la quale il debito deve essere attualizzato se attualizzazioneSpeseNotifica = ATTUALIZZAZIONE_DELAYED (entro i limiti di pagabilità)"},"datiAccertamento":{"type":"array","items":{"$ref":"#/definitions/DatoAccertamentoDto"}},"importo":{"type":"number","example":59.99,"description":"Importo con due cifre decimali, massimo valore previsto 999999999.99"},"importoPaFee":{"type":"number","example":59.99,"description":"Costo che la PA imputa per la notifica. Obbligatoria per notifiche con ATTUALIZZAZIONE_ON e modalità di integrazione Async. Importo con due cifre decimali"},"importoSpeseNotifica":{"type":"number"},"numeroAvvisoDto":{"$ref":"#/definitions/NumeroAvvisoDto"},"speseNotificaVoceContabile":{"type":"string","example":"118/2023","description":"Identifica voce contabile per SEND"}},"title":"RichiestaModificaImportoDto"},"RichiestaInfoAvvisoPagamentoPerNumeroAvvisoDto":{"type":"object","required":["codIpaRichiedente","codiceServizio","numeroAvviso"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceIpaCreditore":{"type":"string","example":"EntTest1"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"numeroAvviso":{"type":"string","example":"004040400002428331","description":"Deve essere compatibile con le regole definite ed ai parametri assegnati da AGID per il tipo di numero avviso associato all’ente, max 18 caratteri"}},"title":"RichiestaInfoAvvisoPagamentoPerNumeroAvvisoDto"},"CtChiaveDebito":{"type":"object","properties":{"codiceTipoDebito":{"type":"string","xml":{"name":"CodiceTipoDebito","attribute":false,"wrapped":false}},"iddeb":{"type":"string"},"idpos":{"type":"string"}},"title":"CtChiaveDebito","xml":{"name":"ctChiaveDebito","attribute":false,"wrapped":false}},"PagamentoSingoloInfoRiconciliazioneDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"causaleSingoloPagamento":{"type":"string"},"chiaveDebitoDto":{"$ref":"#/definitions/ChiaveDebitoDto"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceContestoPagamento":{"type":"string"},"codiceEsitoSingoloPagamento":{"type":"string"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"dataEsitoSingoloPagamento":{"type":"string","format":"date-time"},"dataOraMessaggioRicevuta":{"type":"string","format":"date-time"},"datiDebitore":{"$ref":"#/definitions/DatiDebitoreDto"},"datiVersante":{"$ref":"#/definitions/DatiVersanteDto"},"dettaglioImporto":{"type":"array","items":{"$ref":"#/definitions/DettaglioImportoDto"}},"esitoRiconciliazione":{"type":"string"},"identificativoDominio":{"type":"string"},"identificativoMessaggioRicevuta":{"type":"string"},"identificativoUnivocoRiscossione":{"type":"string"},"identificativoUnivocoVersamento":{"type":"string"},"importoDebito":{"type":"number"},"messaggio":{"type":"string"},"singoloImportoPagato":{"type":"number"}},"title":"PagamentoSingoloInfoRiconciliazioneDto"},"RispostaInfoAvvisiPagamentoDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"listaAvvisiPagamento":{"type":"array","items":{"$ref":"#/definitions/AvvisoPagamentoDto"}}},"title":"RispostaInfoAvvisiPagamentoDto"},"RispostaPagaDebitoPOSDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"esitoDto":{"$ref":"#/definitions/EsitoDto"},"idDebito":{"type":"string"},"url":{"type":"string"}},"title":"RispostaPagaDebitoPOSDto"},"InviaDovutoDto":{"type":"object","required":["contestoDovuto","dettaglioDovuto","testataDovuto"],"properties":{"contestoDovuto":{"type":"string","example":"MONOBENEFICIARIO","description":"Indica se mono o multibeneficiario","enum":["MONOBENEFICIARIO","MULTIBENEFICIARIO"]},"dettaglioDovuto":{"type":"array","items":{"$ref":"#/definitions/DettaglioDovutoDto"}},"numeroAvviso":{"$ref":"#/definitions/NumeroAvvisoDto"},"testataDovuto":{"$ref":"#/definitions/TestataDovutoDto"}},"title":"InviaDovutoDto","description":"Composto da un’unica testata e la lista dei DettaglioDovuto specifici del Beneficiario"},"RichiestaCreaAvvisiPagamentoDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"avvisiDiPagamento":{"type":"array","items":{"$ref":"#/definitions/AvvisoPagamentoDto"}},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"notificaNumeroAvviso":{"type":"boolean"},"transactional":{"type":"boolean"}},"title":"RichiestaCreaAvvisiPagamentoDto"},"DateInterval":{"type":"object","properties":{"beginDate":{"type":"string","format":"date-time","example":"2020-07-10T08:41:43.606Z"},"endDate":{"type":"string","format":"date-time"}},"title":"DateInterval"},"DatiDebitoreDto":{"type":"object","properties":{"cap":{"type":"string"},"civico":{"type":"string"},"codiceIdentificativoUnivoco":{"type":"string","example":"NMCGNM84T01C573A"},"cognome":{"type":"string","example":"COGNOME"},"email":{"type":"string"},"identificativoUnivocoDebitore":{"type":"string","example":"NMCGNM84T01C573A|F"},"indirizzo":{"type":"string"},"localita":{"type":"string"},"nazione":{"type":"string"},"nome":{"type":"string","example":"NOME"},"provincia":{"type":"string"},"ragioneSociale":{"type":"string"},"tipoIdentificativoUnivoco":{"type":"string","example":"F"}},"title":"DatiDebitoreDto"},"DebitoRiconcilaitoDto":{"type":"object","properties":{"chiavidebito":{"$ref":"#/definitions/ChiaveDebitoDto"},"datiAccertamento":{"type":"array","items":{"$ref":"#/definitions/DatoAccertamentoDto"}},"importoDebito":{"type":"number","example":59.99}},"title":"DebitoRiconcilaitoDto"},"InfoPagamentoTelematicoNotificaDto":{"type":"object","required":["identificativoUnivocoVersamento","numeroVersamentiSingoli"],"properties":{"codiceContestoPagamento":{"type":"string"},"dataAccredito":{"type":"string","example":"yyyy-MM-dd"},"dataPagamento":{"type":"string","example":"yyyy-MM-dd"},"datiDebitore":{"$ref":"#/definitions/DatiDebitoreDto"},"datiVersante":{"$ref":"#/definitions/DatiVersanteDto"},"esitoRichiestaPagamento":{"type":"string","example":"CONCLUSO_NON_ESEGUITO","enum":["CONCLUSO_ESEGUITO","CONCLUSO_ESEGUITO_PARZIALMENTE","CONCLUSO_NON_ESEGUITO","CONCLUSO_NON_ESEGUITO_DECORRENZA","CONCLUSO_NON_ESEGUITO_DECORRENZA_PARZIALE","NON_CONCLUSO","RIFIUTATA"]},"flussoRicevuta":{"type":"string"},"identTransazione":{"type":"string"},"identificativoDominio":{"type":"string","example":"01556360152"},"identificativoUnivocoVersamento":{"type":"string","example":"04210009695360182","description":"Identificativo Univoco Versamento, attribuito dall'Ente Creditore ad ogni operazione di incasso e che non può essere associato nel tempo ad alcun altro incasso emesso dal medesimo Ente Creditore, max 25 caratteri"},"importoTotalePagato":{"type":"number","example":0.0},"importoTotaleRichiesta":{"type":"number","example":59.99},"infoVersamentoSingolo":{"type":"array","items":{"$ref":"#/definitions/InfoSingoloPagamentoDto"}},"numeroAvviso":{"type":"string","example":"004040000002146431","description":"Numero avviso, max 18 caratteri"},"numeroVersamentiSingoli":{"type":"integer","format":"int32","example":1},"statoTecnicoPagamento":{"type":"string","example":"NOTIFICATO","enum":["COMPLETATO","CONTABILIZZATO","INVIATO","NOTIFICATO","RIFIUTATO"]},"testoOriginaleRicevuta":{"type":"string"},"tipoVersamento":{"type":"string","example":"BBT","enum":["AD","BBT","BP","CP","INDETERMINATO","OBEP","PO"]}},"title":"InfoPagamentoTelematicoNotificaDto","description":"Oggetto che identifica il pagamento (RPT) eseguito"},"RispostaInfoPagamentoTransazioneDtoV2":{"type":"object","required":["codIpaRichiedente","codiceServizio","esitoTransazione","identificativoTransazione"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"esitoTransazione":{"type":"string","example":"OK","enum":["CANCELL","DIFFERITO","ERROR","INDETERMINATO","KO","OK","OP","UK","WAIT"]},"identificativoTransazione":{"type":"string","example":"b5aee4ad-9ed3-497f-b49e-9f1ccddabce1","description":"Identificativo univoco transazione"},"infoPagamentoTelematico":{"type":"array","items":{"$ref":"#/definitions/InfoPagamentoTelematicoResponseDtoV2"}},"multibeneficiarioDto":{"$ref":"#/definitions/MultibeneficiarioDto"}},"title":"RispostaInfoPagamentoTransazioneDtoV2"},"RispostaAttivaAvvisiPagamentoPerIdLottoDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"numberOfRowsEdited":{"type":"integer","format":"int32"},"result":{"$ref":"#/definitions/CtAttivaAvvisoPerIdLottoResult"},"statoNonAccettato":{"type":"boolean"}},"title":"RispostaAttivaAvvisiPagamentoPerIdLottoDto"},"DebitoDto":{"type":"object","required":["causaleDebito","codIpaRichiedente","codiceLotto","codiceServizio","codiceTipoDebito","contribuenteDto","dataInizioValidita","dettaglioPosizione","gruppo","idDebitoBO","idPosizioneBO","importoDebito","ordinamento"],"properties":{"causaAggStato":{"type":"string","enum":["ALTRO","ATTIVAZIONE","ATTIVAZIONE_RIAPERTURA_TERMINI","DISATTIVAZIONE","ELIMINAZIONE","ELIMINAZIONE_DA_CRUSCOTTO","ELIMINAZIONE_DEBITO","IMPORTO_ATTUALIZZATO","MODIFICA_CAUSALE","MODIFICA_CONTRIBUENTE","MODIFICA_DATE_SCADENZA","MODIFICA_DETTAGLI_IMPORTO","MODIFICA_IMPORTO","MODIFICA_SPESE_NOTIFICA","PAGAMENTO_ESTERNO","RIATTIVAZIONE_DAFLUSSO_REND","SOSTITUZIONE"]},"causaleDebito":{"type":"string","example":"Multa","description":"La causale del debito che viene inviata ad AGID, max 140 caratteri"},"codIpaCreditore":{"type":"string","example":"EntTest1","description":"Codice IPA identificativo dell’ente creditore"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Codice IPA identificativo dell’ente richiedente"},"codiceLotto":{"type":"string","example":"lotto478324","description":"Alfanumerico per l'identificazione di debiti aggregati per affinità ed importanza per l'ente, nato esplicitamente per le Poste, max 200 caratteri"},"codiceServizio":{"type":"string","example":"JTRIB","description":"Codice del servizio chiamante"},"codiceTipoDebito":{"type":"string","example":"MULTE","description":"Codice che raggruppa tutte le parametrizzazioni semanticamente omogeneo di debiti. Identifica tipicamente un tributo o più in generale un onere che l’utente finale ha maturato nei confronti della pubblica amministrazione, max 1000 caratteri"},"contribuenteDto":{"$ref":"#/definitions/ContribuenteDto"},"dataAttualizzazione":{"type":"string","example":"2024-03-09T13:51:40.996Z","description":"Data oltre la quale il deito deve essere attualizzato se attualizzazioneSpeseNotifica = ATTUALIZZAZIONE_DELAYED (entro i limiti di pagabilità). "},"dataFineValidita":{"type":"string","example":"2024-03-09T13:51:40.996Z","description":"Data di fine validità del debito"},"dataInizioValidita":{"type":"string","example":"2024-03-09T13:51:40.996Z","description":"Data di inizio validità del debito"},"dataLimitePagabilita":{"type":"string","example":"2024-03-09T13:51:40.996Z","description":"Indica la data limite di pagabilità nel caso in cui la data di fine validità ricada in una data in cui non sia possibile effettuare il pagamento. Se non impostato la data limite di pagabilità sarà impostata uguale alla data di fine validità. "},"datiAccertamento":{"type":"array","description":"Riferimenti Finanziaria","items":{"$ref":"#/definitions/DatoAccertamentoDto"}},"dettaglioPosizione":{"type":"string","example":"Multa per eccesso di velocità","description":"Dettaglio in formato testuale della posizione debitoria di riferimento di questo debito, inteso per poter essere leggibile ed esplicativo. Potrebbe avere i riferimenti ad una contravvenzione o esplicitare una descrizione testuale che accompagna un debito generato da un determinato documento contabile, max 140 caratteri"},"gruppo":{"type":"string","example":1,"description":"Identifica una opzione di pagamento per la relativa posizione debitoria"},"idDebito":{"type":"integer","format":"int64"},"idDebitoBO":{"type":"string","example":1234,"description":"Identificativo del debito, è univoco nello scope della posizione debitoria, max 256 caratteri"},"idPosizioneBO":{"type":"string","example":"20230416_013","description":"Identificativo della posizione debitoria. Questo identificativo permette ai vari servizi di poter inserire lo stesso debito in modalità differenti e mantenere un comportamento congruo da parte di jcg_pagopa, max 256 caratteri"},"importoDebito":{"type":"number","example":59.99,"description":"Importo con due cifre decimali, massimo valore previsto 999999999.99"},"importoPaFee":{"type":"number","example":59.99,"description":"Costo che la PA imputa per la notifica. Obbligatoria per notifiche con ATTUALIZZAZIONE_ON e modalità di integrazione Async. Importo con due cifre decimali"},"importoSpeseNotifica":{"type":"number","example":59.99,"description":"Importo spese notifica con due cifre decimali"},"marcaDaBollo":{"$ref":"#/definitions/MarcaDaBolloDto"},"ordinamento":{"type":"integer","format":"int32","example":12,"description":"Indica l'ordinamento del debito all'interno del gruppo"},"parametriDebito":{"type":"array","items":{"$ref":"#/definitions/ParametroDebitoDto"}},"speseNotificaDaAttualizzare":{"type":"string","example":"ATTUALIZZAZIONE_ON","description":"flag attualizzazione spese notifica","enum":["ATTUALIZZAZIONE_DELAYED","ATTUALIZZAZIONE_OFF","ATTUALIZZAZIONE_ON"]},"speseNotificaVoceContabile":{"type":"string","example":"117/2023","description":"Identifica voce contabile per SEND"}},"title":"DebitoDto"},"EstrattoContoDto":{"type":"object","properties":{"debiti":{"type":"array","items":{"$ref":"#/definitions/DebitoEstrattoContoDto"}},"numeroTotaleDiElementi":{"type":"integer","format":"int64","description":"Numero totale di elementi trovati in archivio"}},"title":"EstrattoContoDto"},"RispostaInfoPagamentoPerIuvDto":{"type":"object","required":["codIpaRichiedente","codiceServizio"],"properties":{"avvisoPagamentoDto":{"$ref":"#/definitions/AvvisoPagamentoDto"},"codIpaRichiedente":{"type":"string","example":"EntTest1","description":"Indice dei domicili digitali della Pubblica Amministrazione e dei Gestori di Pubblici Servizi, necessario per permettere a JPPA di caricare le configurazioni per la corretta gestione delle informazioni richieste o inviate"},"codiceServizio":{"type":"string","example":"JCITY.GOV","description":"Codice del servizio client del sistema JPPA. Il servizio deve essere censito fra quelli abilitati per il codice IPA specificato nella richiesta"},"dataValuta":{"type":"string","format":"date-time"},"infoPagamentoTelematico":{"type":"array","items":{"$ref":"#/definitions/InfoPagamentoTelematicoResponseDto"}}},"title":"RispostaInfoPagamentoPerIuvD
[...]
